.preloader{
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    background-attachment: fixed;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.preloader img{
    position: relative;
    width: 8%
}
.hidden{
    animation: vanish 1s forwards;
    -moz-animation: vanish 1s forwards;
    -webkit-animation: vanish 1s forwards;
}
@keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }    
}
@-moz-keyframes vanish{
    100%{
        opacity: 0;
        visibility: hidden;
    }    
}
@-webkit-keyframes vanish{
    100%{
        opacity: 0;
        visibility: hidden;
  } 
}

.slider{
    animation: zoom-in 3s linear infinite;
}
@keyframes zoom-in {
    0%{
        transform: scale(1);
    }
    15%{
        transform: scale(1.3);
    }
    85%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }

    
}

